{% extends "UvwebUvBundle::layout.html.twig" %}

  {% block title %}
      À Propos d'UVweb
  {% endblock %}

  {% block body %}

	    <div class="page-header">
	        <h1>À Propos d'UVweb</h1>
	    </div>

	    <div class="row-fluid">
			<div class="span12">
				<dl>
				  <dt><h3 class="text-info">Qu'est-ce qu'UVweb ?</h3></dt>
				  	<dd>
				  		<p>
							Le site a un double objectif. <strong>Le premier</strong> est d'aider les étudiants dans le choix de leurs UVs. À cet effet, il regroupe plus de 3000 commentaires d'étudiants sur les UVs qu'ils ont déjà suivies. À ces commentaires s'ajoutent les statistiques officielles de l'administration. Celles-ci comprennent entre autres le taux de réussite à chaque UV les semestres passés.
							<br/>
							<br/>
							<strong>Le second</strong> objectif du site est d'offrir aux étudiants la possibilité d'exprimer leur propre avis sur les UVs. Pour cela, il suffit de se créer un compte sur le site. Globalement, le site s'inscrit donc dans un échange d'expérience entre les étudiants.
							<br/>
							<br/>
							Il faut noter qu'une modération des avis est effectuée avant leur mise en ligne pour faire en sorte qu'ils soient "corrects". Ils ne doivent pas par exemple avoir un caractère offensant.
				  		</p>
				  	</dd>
				  	<hr>
				  	<dt><h3 class="text-info">Comment créer un compte sur UVweb ?</h3></dt>
				  	<dd>
					  	<p>
					  		Il faut être étudiant de l'UTC et posséder des identifiants permettant de s'authentifier sur le CAS (ce que vous utilisez pour accéder à l'ENT pour voir vos mails, votre dossier...).
					  		<br>
					  		<br>
					  		<strong>Pour vous inscrire</strong>, connectez-vous au CAS de l'UTC depuis ce lien : <a href="{{  path('uvweb_login') }}">CAS</a>. Après vous être enregistré avec vos identifiants UTC habituels vous serez redirigé sur le site et pourrez alors rapidement compléter votre inscription.
					  		<br>
					  		Il est à noter qu'aucune information sensible ne sera demandée.
					  	</p>
				 	</dd>
				 	<hr>
				  	<dt><h3 class="text-info">Ajouter un avatar</h3></dt>
				  	<dd>
					  	<p>
					  		UVweb utilise un service pour gérer les avatars des utilisateurs, nommé <strong>Gravatar</strong>.
					  		<br>
					  		Ce service permet de lier une image à une adresse email, et d'utiliser l'image enregistrée auprès de ce service sur d'autres sites, comme c'est le cas d'UVweb.
					  		<br>
					  		<br>
					  		Par défaut, aucun avatar n'est affiché, par respect de votre vie privée. Ainsi, si une image est liée à l'adresse email liée à votre compte, elle ne sera pas affichée tant que vous n'aurez pas coché l'option adéquate dans les paramètres de votre compte.
					  		<br>
					  		<br>
					  		Pour créer un compte Gravatar, il faut se rendre sur <a href="http://fr.gravatar.com"  target="_blank">le site</a> du service.
					  	</p>
				 	 </dd>
				 	 <hr>
				  	<dt><h3 class="text-info">Envie de contribuer au site / Une Remarque / Un Problème ?</h3></dt>
				  	<dd>
					  	<p>
					  		Si vous souhaitez <strong>participer</strong> au fonctionnement du site, en tant que modérateur par exemple, n'hésitez pas à nous contacter.
					  		<br>					  		
					  		N'hésitez pas non plus à nous contacter si vous <strong>remarquez</strong> une faute d'orthographe, un bug, ou que vous avez une idée d'amélioration pour le site.
					  		<br>
					  		Enfin si vous constatez un <strong>problème</strong> (avis non respectueux, par exemple), que vous soyiez professeur ou étudiant, avertissez-nous.
					  	</p>
				 	</dd>
				 	<hr>
				  	<dt><h3 class="text-info">Contributeurs</h3></dt>
				  	<dd>
					  	<p>
					  		Nous sommes 3 à avoir participé à la version 2.0 du site d'UVweb :
					  		<br>
					  		<br>
					  		<ul>
					  			<li>Début du développement du site : <strong>Alexandre</strong> et <strong>Thomas</strong>.</li>
					  			<li>Reprise du projet et fin du développement du site : <strong>Maxime</strong>.</li>
					  		</ul>
					  	</p>
				 	</dd>
				 	<hr>				  	
				 	<dt><h3 class="text-info">Création du site</h3></dt>
				  	<dd>
					  	<p>
					  		UVweb a été créé il y a plusieurs années, et nombre d'entre vous ont connu la première version qui a fait son temps. Nous avons décidé d'entreprendre une grosse mise à niveau du site, qu'il s'agisse de son design ou de son architecture interne.
					  		<br>
					  		Nous espérons que cette nouvelle version vous plaît et vous plaira !
					  	</p>
				 	</dd>
				</dl>
			</div>
	    </div>

  {% endblock %}