{% extends "::layout.html.twig" %}

{% block body %}
	<div class="hero-unit">
		<h1>Erreur <span class="text-error">{{ status_code }}</span> : accès refusé</h1>
		<p>Vous n'êtes pas autorisé à accéder à cette page.</p>
	</div>
{% endblock %}