{% extends "::layout.html.twig" %}

{% block body %}
	<div class="hero-unit">
		<h1>Erreur <span class="text-error">{{ status_code }}</span></h1>
		<p>Une erreur s'est produite, nous nous excusons pour la gêne occasionnée. Vous pouvez contacter un administrateur pour signaler le problème.</p>
	</div>
{% endblock %}