{% block form_row %}
    {% spaceless %}
        <div>
            {{ form_errors(form) }}
            {{ form_widget(form, { 'attr': {'class': 'search-query'} }) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}