{% extends "UvwebUvBundle::layout.html.twig" %}

{% block title %}
Accueil - {{ parent() }}
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="span12">
      <div class="hero-unit">
        <h1>Bienvenue sur UVweb.</h1>
        <p>Pour consulter les avis d'une UV ou pour donner le tien, tape son nom dans la barre de recherche (par exemple, "MT23").</p>
      </div>

      <div class="row-fluid">
        <div class="span3">
          {% include 'UvwebUvBundle:Common:uv_table.html.twig' with { 'tableType': 'success', 'uvs': bestUvs, 'title': 'Mieux Notées' } %}
        </div>
        <div class="span6">
          <div class="well">
            <p>
              Retrouvez UVweb pour Android et iOS sur les stores de vos mobiles !
            </p>
            <p>
              <a href="https://play.google.com/store/apps/details?id=fr.utc.assos.uvweb">Version Android</a>
            </p>
            <p>
              <a href="https://itunes.apple.com/fr/app/uvweb/id905079212?mt=8">Version iOS</a>
            </p>
          </div>
        </div>
        <div class="span3">
          {% include 'UvwebUvBundle:Common:uv_table.html.twig' with { 'tableType': 'error', 'uvs': worstUvs, 'title': 'Moins Appréciées' } %}
        </div>
      </div>

      <div class="row-fluid">
          <div class="span6">
            <div class="page-header">
              <h2>Activité récente</h2>
            </div>
            {% for comment in comments %}
              {% include 'UvwebUvBundle:Uv:comment_summary_row.html.twig' with {'comment': comment} %}
            {% endfor %}
          </div>

          <div class="span5 offset1">
            <div class="page-header">
              <h2>News</h2>
            </div>
              {% for newsitem in news %}
                {% include 'UvwebUvBundle:Common:news_row.html.twig' with { 'news': news } %}
              {% endfor %}
          </div>  
      </div>
      
  </div>
</div>
{% endblock %}