{% extends "UvwebUvBundle::layout.html.twig" %}

{% block title %}
Accueil - {{ parent() }}
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="span12">
      <div class="hero-unit">
        <h1>Bienvenue sur UVweb.</h1>
        <p>Pour consulter les avis d'une UV ou pour donner le tien, tape son nom dans la barre de recherche (par exemple, "MT23").</p>
      </div>

      <div class="row-fluid">
          <div class="span12">
              <div class="alert alert-info">
                  <div class="row-fluid">
                      <div class="span10">
                          L'application UVweb iOS est désormais dispoible sur l'App Store !
                          <br/>
                          Elle permet de retrouver les commentaires du site et de commenter depuis les appareils iOS.
                          <br/>
                          Toutes les infos et une démonstration sont disponibles sur le site <a href="{{ path('uvweb_uv_about_ios') }}">ici</a>.
                      </div>
                      <div class="span2">
                          <a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=905079212&mt=8">
                              <img class="pull-right" src="{{ asset('img/ios_app/ios_icon.png') }}"  alt="Icône iOS" height="60" width="60" style="border-radius: 22.544%;"/>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row-fluid">
        <div class="span3">
          {% include 'UvwebUvBundle:Common:uv_table.html.twig' with { 'tableType': 'success', 'uvs': bestUvs, 'title': 'Mieux Notées' } %}
        </div>
        <div class="span6">
          <div class="well">
            <p>
              Si tu souhaites poster des avis sur certaines des UVs que tu as choisies afin de conseiller les autres, c'est très facile !
              </br>
              </br>
              Connecte toi au <a href="{{  path('uvweb_login') }}">CAS</a>, tu seras ensuite redirigé sur UVweb.
              </br>
              </br>
              Inscris toi rapidement, aucune info sensible n'est requise.
            </p>
          </div>
        </div>
        <div class="span3">
          {% include 'UvwebUvBundle:Common:uv_table.html.twig' with { 'tableType': 'error', 'uvs': worstUvs, 'title': 'Moins Appréciées' } %}
        </div>
      </div>

      <div class="row-fluid">
          <div class="span6">
            <div class="page-header">
              <h2>Activité récente</h2>
            </div>
            {% for comment in comments %}
              {% include 'UvwebUvBundle:Uv:comment_summary_row.html.twig' with {'comment': comment} %}
            {% endfor %}
          </div>

          <div class="span5 offset1">
            <div class="page-header">
              <h2>News</h2>
            </div>
              {% for newsitem in news %}
                {% include 'UvwebUvBundle:Common:news_row.html.twig' with { 'news': news } %}
              {% endfor %}
          </div>  
      </div>
      
  </div>
</div>
{% endblock %}