{% extends "UvwebUvBundle::layout.html.twig" %}

{% block title %}
	Nouvelle news - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>Ajout d'une nouvelle news</h1>
    </div>

    {% include 'UvwebUvBundle:Admin:news_form.html.twig' with {'news_form': news_form} %}

{% endblock %}