<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Supprimer une news</h3>
</div>

<form data-async data-target="#news-list #news-{{ news.id }}" method="POST" action="{{ path('uvweb_admin_delete_news', { 'newsid': news.id }) }}">

  <div class="modal-body">
      <p>Supprimer la news suivante ?</p>
      <div class="span10">
        {% include 'UvwebUvBundle:Common:news_row.html.twig' with { 'newsitem': news } %}
      </div>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <a><button class="btn btn-danger">Supprimer</button></a>
  </div>

</form>
