{% form_theme news_form 'UvwebUvBundle:Form:bootstrap_row.html.twig' %}

<div class="well">
        {{ form_errors(news_form) }}
    <form method="post" class="form-horizontal" {{ form_enctype(news_form) }}>
        {{ form_widget(news_form) }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-success">Valider</button>
          </div>
        </div>
        {{ form_rest(news_form) }}
    </form>
</div>