<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Refuser un avis</h3>
</div>

<form class="modal-form form-horizontal" data-async data-target="#comment-list #comment-{{ comment.id }}" method="POST" action="{{ path('uvweb_admin_comment_refuse', { 'commentid': comment.id }) }}">

  <div class="modal-body">
    <p>Supprimer l'avis suivant ?
      </br>L'avis sera supprimé de la base de données et un mail contenant le motif du refus sera envoyé à l'utilisateur.
    </p>
    <div style="width: 90%;">
        {% include 'UvwebUvBundle:Uv:comment_summary_row.html.twig' with {'comment': comment} %}
    </div>
    <div class="control-group">
      <label class="control-label" for="refuse-mail-text">Motif du refus</label>
      <div class="controls">
        <textarea required="required" name="refuse-mail-text" rows="3" id="refuse-mail-text" placeholder="Motif"></textarea>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
    <a><button class="btn btn-danger">Refuser</button></a>
  </div>

</form>
