{% extends "UvwebUvBundle:Unis:class_summary_row.html.twig" %}

{# Used in admin home: displays buttons to allow the admin to refuse or validate the comment #}

{% block comment_footer %}

	<div class="pull-right">
		<a href="{{ path('uvweb_validate_class', {'classId': class.id }) }}"><button class="btn btn-success btn-mini"><i class="icon-ok icon-white"></i> Valider</button></a>
		<a href="{{ path('uvweb_refuse_class', {'classId': class.id }) }}"><button class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> Refuser</button></a>
	</div>

{% endblock %}
