{% block form_row %}
    {% spaceless %}
        <div class="control-group">
          {{ form_label(form, '', {'label_attr': {'class': 'control-label'}}) }}
          <div class="controls">
            {{ form_widget(form) }}
            <span class="text-error">{{ form_errors(form) }}</span> 
          </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}