<dl>
    <dt><h4 class="text-info">Note de l'application</h4></dt>
    <dd>
        <p>
            N'hésitez pas à attribuer une note à l'application directement sur l'App Store si vous l'appréciez, ou encore mieux à y laisser un commentaire, j'apprécierais grandement cela !
        </p>
    </dd>
</dl>