<dl>
	<dt><h4 class="text-info">Application de consultation de données</h4></dt>
		<dd>
			<div class="row-fluid">
				<div class="span3">
					<p>
						<i>Liste des UVs / Catalogue ergonomique</i>
						<br>
						<br>
						Affichage des UVs contenant au moins un commentaire dans la base de données du site.
						<br>
						De nombreuses fonctions de tri et de recherche sont proposées.
					</p>
					<br>
				</div>
				<div class="span3">
					<p>
						<i>Contenu des UVs</i>
						<br>
						<br>
						Affichage d'informations sur une UV, ainsi que de la liste de ses commentaires.
					</p>
					<br>
				</div>
				<div class="span3">
					<p>
						<i>Derniers commentaires</i>
						<br>
						<br>
						Affichage des derniers commentaires postés sur le site.
						<br>
					</p>
					<br>
				</div>
                <div class="span3">
                    <p>
                        <i>Post de commentaires</i>
                        <br>
                        <br>
                        Possibilité de facilement commenter une UV.
                        <br>
                    </p>
                    <br>
                </div>
			</div>
			<div class="row-fluid">
				<div class="span3">
					<img src="{{ asset('img/ios_app/uv_list.png') }}" alt="">
				</div>
				<div class="span3">
					<img src="{{ asset('img/ios_app/uv_contents.png') }}" alt="">
				</div>
                <div class="span3">
                    <img src="{{ asset('img/ios_app/recent_activity.png') }}" alt="">
                </div>
                <div class="span3">
                    <img src="{{ asset('img/ios_app/comment.png') }}" alt="">
                </div>
			</div>
	  	</dd>
	</dt>


	<dt><h4 class="text-info">Démonstration vidéo</h4></dt>
		<dd>
			<p>
				Voici une vidéo montrant l'application en fonctionnement et présentant les différentes possibilités offertes par celle-ci.
			</p>
			<iframe width="420" height="345" src="https://www.youtube.com/embed/IkpaKD_4kFg">
			</iframe>
	  	</dd>
	</dt>
</dl>