<dl>
    <dt><h4 class="text-info">Que faut-il pour poster des commentaires depuis l'application ?</h4></dt>
    <dd>
        <ul>
            <li>Disposer d'un compte UVweb.</li>
            <li>Avoir ajouté un mot de passe pour les applications mobiles dans la partie profil / éditer profil de votre compte.</li>
            <li>Utiliser le couple nom d'utilisateur UVweb / mot de passe mobile.</li>
        </ul>
    </dd>
    </dt>
</dl>