<dl>
	<dt><h4 class="text-info">Que fait l'application ?</h4></dt>
    <dd>
        <p>
            Elle permet de consulter les commentaires postés sur le site, mais également de poster un commentaire, à condition d'avoir un compte UVweb paramétré pour. (<a href="{{ path('uvweb_uv_about_ios', { 'part': 'comment' }) }}">Poster un commentaire</a>)
        </p>
    </dd>
    <dt><h4 class="text-info">Comment l'obtenir ?</h4></dt>
    <dd>
        <p>
            Cherchez "uvweb" sur l'App Store.
            <br>
            Voici un <a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=905079212&mt=8">aperçu de la fiche de l'application</a>.
        </p>
    </dd>
	<dt><h4 class="text-info">Objectifs du projet</h4></dt>
    <dd>
        <p>
            La création de cette application intervient dans le mouvement de dynamisme impulsé récemment par la mise en ligne de la nouvelle version d'UVweb.
            <br>
            <br>
            Nous aurions pu nous contenter de proposer une simple version mobile (le site utilisant déjà le "responsive design"), cependant nous souhaitions proposer une expérience optimale sur une plateforme très répandue au sein des utilisateurs du service.
        </p>
    </dd>
	<dt><h4 class="text-info">Appareils concernés</h4></dt>
    <dd>
        <p>
            Les iPhone, iPod touch et iPad sont compatibles avec l'application.
            <br>
            <i>Versions concernées</i> : iOS 7 et supérieur.
        </p>
    </dd>
    <dt><h4 class="text-info">Et pour Android ?</h4></dt>
    <dd>
        <p>
            Une application existe également pour Android. Elle est disponible <a href="https://play.google.com/store/apps/details?id=fr.utc.assos.uvweb">ici</a>.
        </p>
    </dd>
</dl>