.uvnumbercode {
    color : #72bbaa;
}

.graphs-criterias {
    text-align: center;
}
.graphs-criterias h4 {
    color: #999999;
    font-weight: normal;
    font-size: 17px;
    margin: 0;
}
.graphs-criterias .graph-block {
    width: 130px;
    height: 130px;
    margin: 0 15px;
    display: inline-block;
    text-align: center;
}
.graphs-criterias .graph {
    width: 90%;
    height: 100%;
    display: inline-block;
}