body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.navbar-search{
  margin-right: 20px;
}
.navbar-search .search-icon {
  z-index: 3;
}
.icon-search {
  position: absolute;
  top: 7px;
  right: 7px;
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
}