{% extends "UvwebHomeBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
  <div class="hero-unit">
    <h1>Bienvenue sur UVweb.</h1>
    <p>Pour consulter les avis d'une UV ou pour donner le vôtre, tapez son nom dans la barre de recherche (par exemple, "MT23").</p>
  </div>
{% endblock %}