{% extends "UvwebUvBundle::layout.html.twig" %}

  {% block title %}
      {#{{ user.login }} - {{ parent() }}#}
      amasciul - {{ parent() }}
  {% endblock %}

  {% block style %}
  {% endblock %}

  {% block body %}
      <div class="span12">
          <div class="page-header">
              <div class="row-fluid">
                  <h1>amasciul</h1>
              </div>
          </div>
          <div class="media">
              <a class="pull-left" href="mailto:alexandre.masciulli@gmail.com">
                  <img class="media-object img-polaroid" src="{{ gravatar('alexandre.masciulli@etu.utc.fr', 120) }}">
              </a>
              <div class="media-body">
                  <ul class="unstyled">
                      <li>Vient de <strong>TC</strong></li>
                      <li>Branche : <strong>GI</strong></li>
                      <li>Filière : <strong>ICSI</strong></li>
                  </ul>
              </div>

          </div>
      </div>
  {% endblock %}