{% extends "UvwebUvBundle::layout.html.twig" %}

{% block title %}
    Utilisateur enregistré - {{ parent() }}
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>Bienvenue !</h2>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <p>
                Bienvenue, <strong>{{ user.login }}</strong>, ton compte vient d'être enregistré avec succès sur UVweb !<br/>
                Tu peux poster des avis dès maintenant, tes avis seront ajoutés après validation.
            </p>
            <p>
                <a class="btn" href="{{ path('uvweb_uv_homepage') }}">Retour à l'accueil</a>
            </p>
        </div>
    </div>
{% endblock %}