{% extends "UvwebUvBundle:Uv:all_list_layout.html.twig" %}

{% block title %}
	{% if categoryName is not defined %}
		Toutes UVs (Moyenne Des Critiques) - {{ parent() }}
	{% else %}
		Toutes UVs {{ categoryName }} (Moyenne des critiques) - {{ parent() }}
	{% endif %}
{% endblock %}

{% block pageHeader %}
	{% if categoryName is not defined %}
		<h2>Toutes les UVs <small>Moyenne Des Critiques</small></h2>
	{% else %}
		<h2>{{ categoryName }} : Toutes les UVs <small>Moyenne Des Critiques</small></h2>
	{% endif %}
{% endblock %}

{% block column1 %}
	{% for ceilRate, uvs in groupedUvs %}
		{% if loop.index % 4 == 1 %}
			{% set tableType = 'error' %}
			{% if ceilRate > 5 %}
				{% set tableType = 'success' %}
			{% endif %}
			{% include 'UvwebUvBundle:Common:uv_table.html.twig' with { 'tableType': tableType, 'uvs': uvs, 'title': ceilRate } %}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block column2 %}
	{% for ceilRate, uvs in groupedUvs %}
		{% if loop.index % 4 == 2 %}
			{% set tableType = 'error' %}
			{% if ceilRate > 5 %}
				{% set tableType = 'success' %}
			{% endif %}
			{% include 'UvwebUvBundle:Common:uv_table.html.twig' with { 'tableType': tableType, 'uvs': uvs, 'title': ceilRate } %}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block column3 %}
	{% for ceilRate, uvs in groupedUvs %}
		{% if loop.index % 4 == 3 %}
			{% set tableType = 'error' %}
			{% if ceilRate > 5 %}
				{% set tableType = 'success' %}
			{% endif %}
			{% include 'UvwebUvBundle:Common:uv_table.html.twig' with { 'tableType': tableType, 'uvs': uvs, 'title': ceilRate } %}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block column4 %}
	{% for ceilRate, uvs in groupedUvs %}
		{% if loop.index % 4 == 0 %}
			{% set tableType = 'error' %}
			{% if ceilRate > 5 %}
				{% set tableType = 'success' %}
			{% endif %}
			{% include 'UvwebUvBundle:Common:uv_table.html.twig' with { 'tableType': tableType, 'uvs': uvs, 'title': ceilRate } %}
		{% endif %}
	{% endfor %}
{% endblock %}