{% extends "UvwebUvBundle:Uv:all_list_layout.html.twig" %}

{% block title %}
	Toutes UVs {{ categoryName }} (Ordre Alphabétique) - {{ parent() }}
{% endblock %}


{% block pageHeader %}		
	<h2>{{ categoryName }} : Toutes les UVs <small>Ordre Alphabétique</small></h2>
{% endblock %}

{% block column1 %}
	{% for letter, uvs in groupedUvs %}
		{% if loop.index % 4  == 1 %}
			{% include 'UvwebUvBundle:Common:uv_table.html.twig' with { 'highlightRates': true, 'tableType': '', 'uvs': uvs, 'title': letter } %}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block column2 %}
	{% for letter, uvs in groupedUvs %}
		{% if loop.index % 4  == 2 %}
			{% include 'UvwebUvBundle:Common:uv_table.html.twig' with { 'highlightRates': true, 'tableType': '', 'uvs': uvs, 'title': letter } %}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block column3 %}
	{% for letter, uvs in groupedUvs %}
		{% if loop.index % 4  == 3 %}
			{% include 'UvwebUvBundle:Common:uv_table.html.twig' with { 'highlightRates': true, 'tableType': '', 'uvs': uvs, 'title': letter } %}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block column4 %}
	{% for letter, uvs in groupedUvs %}
		{% if loop.index % 4  == 0 %}
			{% include 'UvwebUvBundle:Common:uv_table.html.twig' with { 'highlightRates': true, 'tableType': '', 'uvs': uvs, 'title': letter } %}
		{% endif %}
	{% endfor %}
{% endblock %}