{% extends "UvwebUvBundle:Uv:comment_summary_row.html.twig" %}

{# Used in admin home: displays buttons to allow the admin to refuse or validate the comment #}

{% block comment_footer %}

	<div class="pull-right">
		<a href="{{ path('uvweb_admin_comment_refuse', { 'commentid': comment.id }) }}"><button class="btn btn-danger btn-mini">Refuser</button></a>
		<a href="{{ path('uvweb_admin_comment_validate', { 'commentid': comment.id }) }}"><button class="btn btn-success btn-mini">Valider</button></a>
	</div>

{% endblock %}